nav .nav-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
  position: relative;
}

nav .nav-container {
  width: 1200px;
  max-width: 95%;
  margin: 0 auto;
}

@media screen and (max-width: 576px) {
  nav .nav-container {
    max-width: 98%;
  }
}

@media screen and (max-width: 768px) {
  nav .nav-menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: #0000008f;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 111;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
  nav .nav-menu.active {
    visibility: visible;
    opacity: 1;
  }
}

nav .nav-menu.active .list .item {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

nav .nav-menu .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  nav .nav-menu .list {
    display: block;
    text-align: center;
  }
}

nav .nav-menu .list .item {
  margin-right: 10px;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}

nav .nav-menu .list .item:nth-of-type(1) {
  -webkit-transition-delay: 40ms;
          transition-delay: 40ms;
}

nav .nav-menu .list .item:nth-of-type(2) {
  -webkit-transition-delay: 80ms;
          transition-delay: 80ms;
}

nav .nav-menu .list .item:nth-of-type(3) {
  -webkit-transition-delay: 120ms;
          transition-delay: 120ms;
}

@media screen and (max-width: 768px) {
  nav .nav-menu .list .item {
    margin-right: 0;
    margin-bottom: 10px;
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
  }
}

nav .nav-menu .list .link {
  color: #111;
  display: inline-block;
  position: relative;
}

@media screen and (max-width: 768px) {
  nav .nav-menu .list .link {
    color: #fff;
    font-size: 22px;
  }
}

nav .nav-menu .list .link::before {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 2px;
  bottom: -1px;
  left: 50%;
  right: 50%;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  background: #111;
}

@media screen and (max-width: 768px) {
  nav .nav-menu .list .link::before {
    background-color: #fff;
  }
}

nav .nav-menu .list .link:hover::before {
  left: 0;
  right: 0;
  width: 100%;
}

@media screen and (max-width: 768px) {
  nav .nav-contacts {
    position: fixed;
    left: 10%;
    bottom: 10vh;
    z-index: 121;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
  nav .nav-contacts.active {
    visibility: visible;
    opacity: 1;
  }
}

nav .nav-contacts .insta a {
  color: #111;
}

@media screen and (max-width: 768px) {
  nav .nav-contacts .insta a {
    color: #fff;
    font-size: 22px;
  }
}

nav .toggle-btn {
  display: none;
  right: 0;
  position: fixed;
  top: 0;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

@media screen and (max-width: 768px) {
  nav .toggle-btn {
    display: block;
    z-index: 121;
  }
}

nav .toggle-btn .toggle-input {
  display: none;
}

nav .toggle-btn label {
  display: block;
  cursor: pointer;
  width: 80px;
  height: 80px;
  max-width: 100px;
  max-height: 100px;
}

@media (min-aspect-ratio: 1 / 1) {
  nav .toggle-btn label {
    width: 90px;
    height: 90px;
  }
}

nav .toggle-btn path {
  fill: none;
  stroke: #000000;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  --length: 24;
  --offset: -38;
  stroke-dasharray: var(--length) var(--total-length);
  stroke-dashoffset: var(--offset);
  -webkit-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

nav .toggle-btn circle {
  fill: transparent;
  opacity: 0;
}

nav .toggle-btn label:hover circle {
  opacity: 1;
}

nav .toggle-btn .cross input:checked + svg path {
  stroke: #fff;
}

nav .toggle-btn .cross input:checked + svg .line--1,
nav .toggle-btn .cross input:checked + svg .line--3 {
  --length: 22.627416998;
}

nav .toggle-btn .cross input:checked + svg .line--2 {
  --length: 0;
}

nav .toggle-btn .back input:checked + svg .line--1,
nav .toggle-btn .back input:checked + svg .line--3 {
  --length: 8.602325267;
}

nav .toggle-btn .menu .line--1,
nav .toggle-btn .menu .line--3 {
  --total-length: 126.64183044433594;
}

nav .toggle-btn .menu .line--2 {
  --total-length: 70;
}

nav .toggle-btn .menu input:checked + svg .line--1,
nav .toggle-btn .menu input:checked + svg .line--3 {
  --offset: -94.1149185097;
}

nav .toggle-btn .menu input:checked + svg .line--2 {
  --offset: -50;
}

@media screen and (max-width: 768px) {
  main {
    padding-top: 70px;
  }
}

@media screen and (max-width: 576px) {
  main {
    padding-top: 50px;
  }
}

.hello {
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hello .row {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.hello .photo,
.hello .content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(50% - 30px);
}

@media screen and (max-width: 768px) {
  .hello .photo,
  .hello .content {
    width: calc(66.66667% - 30px);
  }
}

@media screen and (max-width: 576px) {
  .hello .photo,
  .hello .content {
    width: calc(100% - 30px);
  }
}

.hello .photo {
  text-align: center;
}

.hello .photo img {
  width: 350px;
}

@media screen and (max-width: 768px) {
  .hello .photo img {
    width: 100%;
  }
}

.hello .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 768px) {
  .hello .content {
    margin-top: 40px;
  }
}

.hello .content .page-title {
  font-size: 50px;
  margin-bottom: 0px;
  font-family: 'Kalam', cursive;
}

@media screen and (max-width: 768px) {
  .hello .content .page-title {
    text-align: center;
  }
}

.hello .content .specs {
  font-size: 24px;
  margin-bottom: 20px;
}
/*# sourceMappingURL=main.css.map */